[graph]
all-features = true
no-default-features = false

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "Unicode-3.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
]
confidence-threshold = 0.98
exceptions = [
    { allow = ["Zlib"], crate = "foldhash" },
    { allow = ["OpenSSL"], crate = "aws-lc-sys" },
]

[bans]
multiple-versions = "warn"
wildcards = "deny"
skip-tree = [
    { crate = "windows-sys", depth = 3 },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
