name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    permissions:
      contents: read

    name: Rust Build
    runs-on: ubuntu-latest

    env:
      RUSTFLAGS: "-D warnings"
      SQLX_OFFLINE: true

    steps:
      - uses: actions/checkout@v6

      - name: Build (default features)
        run: cargo build --verbose

      - name: Build (tls_hyper feature)
        run: cargo build --verbose --no-default-features --features tls_hyper

      - name: Format
        run: cargo fmt --all --check

      - name: Clippy (default features)
        run: cargo clippy --all-targets -- -D warnings -D clippy::pedantic -A clippy::needless_continue

      - name: Clippy (tls_hyper features)
        run: cargo clippy --all-targets --no-default-features --features tls_hyper -- -D warnings -D clippy::pedantic -A clippy::needless_continue

      - name: Run tests
        run: cargo test --verbose

  spaces-check:
    permissions:
      contents: read

    name: Spaces Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Spaces check
        run: git diff-tree --check $(git hash-object -t tree /dev/null) HEAD

  spellings:
    permissions:
      contents: read

    name: Codespell
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install codespell
        run: sudo apt-get install -y codespell

      - name: Run codespell
        run: codespell -L crate debian/ src/ apt-cacher-rs.conf apt-cacher-rs.init apt-cacher-rs.service README.md TODO
